@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    background: #222222fe;
    background-image: url(./img/background.webp);
}
.card {
    background: #0000005d;
    padding: 30px;
    width: 100%;
    margin: 1rem;
    max-width: 420px;
    background-size: cover;
    text-align: start;
    border-radius: 30px;
    box-shadow: 0 0 2rem #535353;
    height: fit-content;
    transition: all .2s ease;
}
.card:hover{
    box-shadow: 0 0 2.5rem #8f8d8d;

}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
}
.search button{
    margin: .2rem;
    border-radius: 50%;
    border: none;
    height: 2.5rem;
    outline: none;
    width: 2.5rem;
    color: white;
    background-color: #7c7c7c2b;
    cursor: pointer;
    transition: all .2s ease;

}
.search button:hover{
    background-color: #7c7c7c6b;

}
.search input{
    outline: none;
    border-radius: 30px;
    color: white;
border: none;
padding: .5rem 1rem;
width: 90%;
font-size: larger;
background-color: #7c7c7c2b;
}